@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome to the World</h1>
        <p>(...as it was when Yugoslavia was still a country)</p>
    </div>
