:root {
  --color1: yellow;
  --color2: lightblue;
}

* {
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  height: 100%;
}

body {
  /* Make it a flex container */
  display: flex;
  /* Left to right.  Try row-reverse to see the difference */
  flex-direction: row;
  /* Wrap to the next row.  Otherwise all elements are in a single row */
  flex-wrap: wrap;
  /* Where to put space between the row elements (main axis)? */
  justify-content: space-evenly;
  /* Alignment across the "secondary" axis (column). Try flex-end, or center.*/
  align-content: flex-start;
  /* How items are aligned across the row (flex-start, flex-end, center, stretch (default)) */
  align-items: stretch;
}

section {
  border: 1px solid darkblue;
  margin: 10px;
  padding: 5px;
  /* Width (or flex-basis) must be set, else the section will take up the entire row, as it is a block element */
  /* Sets the default Width of the items, but they will expand with more content */
  flex-basis: 300px;
  /* Allows all items to grow evenly to fill the space.*/
  /* flex-grow: 1; */
}

#section1 {
  background-color: var(--color1);
}

#section2 {
  background-color: var(--color2);
}

#section3 {
  background-color: var(--color1);
}

#section4 {
  background-color: var(--color2);
}

#section5 {
  background-color: var(--color1);
}

#section6 {
  background-color: var(--color2);
}

#section7 {
  background-color: var(--color1);
}
