:root {
  --color1: yellow;
  --color2: lightblue;
}

* {
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  height: 100%;
}

body {
  /* Make it a flex container */
  display: flex;
  /* Top to bottom.  Try column-reverse to see the difference */
  flex-direction: column;
  /* Wrap to the next column.  Otherwise all elements are in a single column */
  flex-wrap: wrap;
  /* Where to put space between the column elements? */
  justify-content: space-between;
  /* Alignment across the "secondary" axis (row). Try flex-end, or center.*/
  align-content: flex-start;
  height: 95%;
}

section {
  border: 1px solid darkblue;
  margin: 10px;
  padding: 5px;
  /* Sets the default Height of the items, but they will expand with more content */
  flex-basis: 100px;
  /* Width must be set, else the section will take up the entire row, as it is a block element */
  width: 250px;
  
  /* Allows all items to grow evenly to fill the space.*/
  /* flex-grow: 1; */
}

#section1 {
  background-color: var(--color1);
}

#section2 {
  background-color: var(--color2);
}

#section3 {
  background-color: var(--color1);
}

#section4 {
  background-color: var(--color2);
}

#section5 {
  background-color: var(--color1);
}

#section6 {
  background-color: var(--color2);
}

#section7 {
  background-color: var(--color1);
}
