@{
    ViewData["Title"] = "Fibonacci";
    int max = (int)ViewData["max"];
    int prevNum = 0;
    int currentNum = 1;
}

<nav id="page-options">
    <ul>
        <li><a asp-controller="Home" asp-action="Fibonacci" asp-route-max="20">20</a></li>
        <li><a asp-controller="Home" asp-action="Fibonacci" asp-route-max="50">50</a></li>
        <li><a asp-controller="Home" asp-action="Fibonacci" asp-route-max="100">100</a></li>
    </ul>
</nav>

@*
    REPLACE THIS COMMENT SECTION WITH YOUR UNORDERED LIST
*@

<ul>

    @for (int i = 1; i < max; i++)
    {
        int fibSum = prevNum + currentNum;
        prevNum = currentNum;
        currentNum = fibSum;
        <li>@fibSum</li>
    }
</ul>