
@{
    ViewData["Title"] = "About";
}

<h2>About</h2>

<p>
    The Star Wars franchise depicts the adventures of characters "A long time ago in a galaxy far, far away", in which humans and many species of 
    aliens (often humanoid) co-exist with robots, or 'droids', who may assist them in their daily routines; space travel between planets is 
    common due to hyperspace technology.
</p>
<p>
    A mystical power known as 'the Force' is described in the original film as "an energy field created by all living things ... [that] binds the 
    galaxy together." Through training and meditation, those whom "the Force is strong with" are able to perform various superpowers (such as telekinesis, 
    precognition, telepathy, and manipulation of physical energy). The Force is wielded by two major knighthood orders at conflict with each other: the Jedi, 
    peacekeepers of the Old Republic ruthlessly hunted by Imperial authorities, who act on the light side of the Force through non-attachment and arbitration, 
    and the Sith, ancient enemies of the galactic democracy, who use the dark side by manipulating fear and aggression. While Jedi Knights can be numerous, the 
    Dark Lords of the Sith (or 'Darths') are intended to be limited to two: a master and their apprentice.
</p>