@model City
@{
    ViewData["Title"] = "Add";
}

<h2>Add City</h2>

@{
}
<partial name="_CityAddUpdate" model="Model"/>

@*<form asp-controller="City" asp-action="Add" method="post">
    <div asp-validation-summary="All" class="error validationSummary"></div>
    <table class="table table-striped">
        <tbody>
            <tr>
                <td><label asp-for="Name"></label></td>
                <td><input asp-for="Name" /><span asp-validation-for="Name" class="error"></span></td>
            </tr>
            <tr>
                <td><label asp-for="CountryCode"></label></td>
                <td><input asp-for="CountryCode" /><span asp-validation-for="CountryCode" class="error"></span></td>
            </tr>
            <tr>
                <td><label asp-for="District"></label></td>
                <td><input asp-for="District" /><span asp-validation-for="District" class="error"></span></td>
            </tr>
            <tr>
                <td><label asp-for="Population"></label></td>
                <td><input asp-for="Population"/><span asp-validation-for="Population" class="error"></span></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="Submit" value="Add City" /></td>
            </tr>
        </tbody>
    </table>
</form>*@
