@model LoginViewModel

@{
    ViewData["Title"] = "Home Page";
}

<h2>Login</h2>

<form asp-controller="Users" asp-action="Login" method="post">
    @{

    }

    <div asp-validation-summary="All" class="error validationSummary"></div>


    <table class="table table-striped">
        @{

        }
        <tbody>
            <tr>
                <td><label asp-for="Email"></label></td>
                <td><input asp-for="Email" /><span asp-validation-for="Email" class="error"></span></td>
            </tr>
            <tr>
                <td><label asp-for="Password"></label></td>
                <td><input asp-for="Password" /><span asp-validation-for="Password" class="error"></span></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="Submit" value="Submit" /></td>
            </tr>
        </tbody>
    </table>
</form>