@{
    ViewData["Title"] = "Privacy Policy";
    string name = "Mike";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy. Here is more stuff..</p>
<h2>Hi, @name!</h2>
