@{
    ViewData["Title"] = "Favorite Color";
}

<form method="POST">
	<label>What is your favorite color?</label>
	<input type="text" name="favoriteColor">
	<button type="submit">Next >>></button>
</form>

