@model CitySearchVM
@{
    ViewData["Title"] = "Search";
}

<h2>Search</h2>

<!--
    This is an HTML comment
    Here is another line
    -->


@{
    // TODO 01d: Change the input field to a Select. Don't forget the </Select>!!!
    // TODO 01e: Add an empty option
}
<form asp-controller="City" asp-action="Search" method="get">
    <table>
        <tr>
            <td><label asp-for="CountryCode"></label></td>
            <td><input asp-for="CountryCode" placeholder="Enter country code" /></td>
        </tr>
        <tr>
            <td><label asp-for="District"></label></td>
            <td><input asp-for="District" /></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Search!" /></td>
        </tr>
    </table>

</form>


@if (Model.CountryCode != null || Model.District != null)
{
    <h2>Search Results Country: @Model.CountryCode, District: @Model.District</h2>

    <!-- Display search results here -->
    <partial name="_CityList" model="Model.Cities" />

}

