@model IList<Product>
@{
    ViewData["Title"] = "Index";
}
<h2>Buy Our Products!</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Product product in Model)
        {
        <tr>
            <td>@product.Id</td>
            <td>@product.Name</td>
            <td>@product.Cost</td>
            <td>
                <!-- Add a button to add the product to our cart. -->
                <form asp-controller="Store" asp-action="Index" method="post">
                    <input type="number" name="quantity" value="1" />
                    <input type="hidden" asp-for="@product.Id" />
                    <input type="submit" value="Add to cart" />
                </form>
            </td>
        </tr>
        }
    </tbody>
</table>